# ----------------------------------------------------------------------#
# Files
# ----------------------------------------------------------------------#
testresults.log
*.tar.gz
*.zip
README.pdf

# ----------------------------------------------------------------------#
# Target folders
# ----------------------------------------------------------------------#
windows/
macos/
linux/

# ----------------------------------------------------------------------#
# IDE folders
# ----------------------------------------------------------------------#
.idea/

# ----------------------------------------------------------------------#
# OS specific
# ----------------------------------------------------------------------#
.DS_Store
.DS_Store?
._*
